body{
    margin: 0px;
    padding: 0;
    background-color: rgb(0, 0, 51);
    width: 100%;
    height: 100vh;
    font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
    
}
.overlay{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 9, 51, 0.548);
    position: absolute;
    display: none;
    z-index: 1;
    
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}


/*header*/


.header{
    
    background-color: rgb(0, 0, 104);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    height: 100px;
   margin-left: 40px;
 
}

.logo-text{
    font-size: 40px;
    padding-left: 10px;
    color:white;

}


/*main*/
main{
   width: 100%;
   height: 100vh;
   
}

.title{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.galerie{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 120px;
    margin-top: 200px;
    
    gap:50px;
 
}
.galerie img{
    
    width: 250px;
    height: 200px;
    border-radius: 10px;
  

}
.galerie img:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 5px 5px 20px rgb(0, 55, 158);
    cursor: pointer;
}

.bigImage{
    width: 600px;
    max-height:400px ;
    min-height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    
   
}

.dialog{
    background-color: rgb(0, 2, 99);
    align-items: center;
    border-radius: 20px;
    max-width: 700px;
    max-height: 700px;
    min-height: 700px;
    border-color: black;
    outline: none; 

}
.buttons{
 width: 40px;
 padding-bottom: 20px;
 padding-top: 20px;

}

.buttons:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.button-container{
  display: flex;
  justify-content: space-around;
  
}
.delete-img{
    width: 40px;
}
.delete-img:hover{
  transform: scale(1.2);
}
.img-name{
    color: white;
    display: flex;
    justify-content: center;

}
.counter{
    display: flex;
    justify-content: center;
    color: white;
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 104);
    height: 150px;
    width: 100%;
    align-items: center;
    box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.5);
  
}

.links{
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding-left: 20px;

}
.links:hover{
    text-decoration: underline;
}



@media(max-width:1510px){
    .footer{
        margin-top: 220px;
    }
}

@media(max-width:1173px){
    .galerie{
       margin-right: 80px;
    }
}
@media(max-width:1140px){
    .galerie{
       padding-left:120px;
      align-items: center;
    }
    .footer{
        margin-top: 350px;
    }
    
}
@media(max-width:1063px){
    .galerie{
       padding-left:40px;
    }
}

@media(max-width:1021px){
    .galerie{
        padding-left: 0px;
    }
}
@media(max-width:890px){
    .galerie{
        margin-left: 160px;
    }
}
@media(max-width:851px){
    .galerie{
        margin-left: 270px;
    }
    .footer{
        margin-top: 1400px;
    }
    .header{
        justify-content: center;
        
    }
    .logo{
        margin-left: 0px;
    }
}

@media(max-width:776px){
  
    .dialog{
        max-width: 500px;
        min-height: 500px;
    }

    .bigImage{
       max-width: 350px;
        min-height: 300px;
    }
   
}

@media(max-width:710px){
    .galerie{
        margin-left: 200px;
    }
}

@media(max-width:410px){
    .galerie{
        margin-left: 40px;
    }
}

@media(max-width:650px){
    .galerie{
        margin-left: 150px;
    }
}
@media(max-width:550px){
       .dialog{
        max-width: 400px;
    }
    .galerie{
        margin-left: 120px;
    }

    .bigImage{
        width: 400px;
        margin: 0px;
    }
    .buttons{
     width: 20px;
     padding-bottom: 10px;
     padding-top: 10px;
    }
   .delete-img{
    width: 20px;
    }
    .img-name{
    padding:0px;
    margin-block: 0px;
    margin-bottom: 10px;
    }
}



@media(max-width:450px){
    .links{
        font-size: 15px;
    }
    .title{
        font-size: 20px;
    }
    .logo-text{
        font-size: 20px;
    }
    .logo{
        height: 50px;
    }
      .dialog{
        max-width: 350px;
    }

    .bigImage{
        width: 350px;
        margin: 0px;
    }
    .galerie img{
        width: 200px;
       height: 150px;
    }
    .footer{
        margin-top: 1000px;
    }
    
}
@media(max-width:430px){
    .footer{
        margin-top: 1000px;
    }
    .galerie{
        margin-left: 100px;
    }
        
}




@media(max-width:400px){
      .dialog{
        max-width: 300px;
    }

    .bigImage{
        width: 300px;
        margin: 0px;
        min-height: 250px;
    }
    .dialog{
        min-height: unset;
    }

    
}

   
@media(max-width:375px){
.footer{
    margin-top: 1300px;
}
.galerie{
    margin-left: 90px;
    margin-top: 100px;
}

}
@media(max-width:370px){
.footer{
    margin-top: 1000px;
}

}

@media(max-width:350px){
    .galerie{
        margin-left: 65px;
    }
        .dialog{
        max-width: 280px;
    }

    .bigImage{
        width: 250px;
        margin: 0px;
        min-height: 200px;
    }


}

@media(max-height:430px){
    .footer{
        margin-top:900px;
    }
      
    .dialog{
        max-width:450px ;
        max-height: 350px;
    }
    .bigImage{
        width: 400px;
        max-height: 240px;
        margin: 0px;
    }
    .delete-img{
    width: 20px;
    }
        .buttons{
     width: 20px;
     padding:0;
    margin-block:0;
        }
          .img-name{
    padding:0px;
    margin-block: 0px;
    margin-bottom: 10px;
    }
    .counter{
        margin-block: 0;
       
    }

}
